



body{
    background-image: url("../img/pexels-photo-1110670.jpeg");
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 60px minmax(200px, auto) 60px;
    grid-template-areas:
            "nav nav nav"
            "aside main aside2"
            "footer footer footer";
}

.top{
    grid-area: nav;
    height: 100vh;

}



.main{
    grid-area: main;
    background-color: white;
    opacity: 0.7;
    margin: 10px 0px;
    padding: 5%;
    box-shadow: black 0.5px 0.5px;
    overflow: scroll;


}

h1{

    text-align: center;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: .7;
}

li {
    float: left;
}

.right {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.anchor{
    display: flex;
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #D4D1E2;
}

a{
    text-decoration: none;
}


